<aside>
  <article>
    <mat-toolbar style="padding:0px">
      <h5>Users</h5>
    </mat-toolbar>
  </article>
  <main>

    <div class="padding-side">
      <mat-card class="margin-side" (click)="userprofile()">
          <h3>Tharun Dillikar</h3>
        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fx.Flex.sm="50" fx.flex.md="33.333">
            <div class="hpair">
              <span>Email: </span>
              <span>Tharundillikar@gmail.com</span>
            </div>
            <div class="hpair">
              <span>College: </span>
              <span>SRM University</span>
            </div>
            <div class="hpair">
              <span>City: </span>
              <span>Hyderabad</span>
            </div>
            <div class="hpair">
              <span>Working Status: </span>
              <span>Employee</span>
            </div>
          </div>
        </div>

      </mat-card>

    </div>
  </main>
</aside>
