<aside>
  <article>
    <mat-toolbar style="padding:0px">
      <h5>Users</h5>
    </mat-toolbar>
  </article>
  <main>

    <div class="padding-side">
      <mat-card class="margin-side" *ngFor="let item of userList" (click)="userprofile(item)">
          <h3>{{item.firstname}}</h3>
        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fx.Flex.sm="50" fx.flex.md="33.333">
            <div class="hpair">
              <span>Email: </span>
              <span>{{item.email}}</span>
            </div>
            <div class="hpair">
              <span>Mobile: </span>
              <span>{{item.mobile}}</span>
            </div>
            <div class="hpair">
              <span>City: </span>
              <span>Hyderabad</span>
            </div>
            <div class="hpair">
              <span>Technology: </span>
              <span>{{item.technology}}</span>
            </div>
          </div>
        </div>

      </mat-card>

    </div>
  </main>
</aside>
