.reg-btn{
    width: 100px;
    height: 36px;
    color: white;
    border-radius: 2px;
    background-color: #1b80c3;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
}